<div class="text-center">
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://bjournal.co/wp-content/uploads/2017/06/cocktails-at-joes-at-east.jpg);">
    <div class="container">
     <h1>Cocktails</h1>
      <p>Learn & create some of the most amazing cocktails!</p>
      <a class="btn btn-primary" href="#">Learn more</a>
    </div>
  </div>
</div>
